main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: none;
    flex-wrap: wrap;
}
.header {

    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    justify-content: space-between;
    position: fixed;
    margin: 0%;
    right: 0px;
    top: 0px;
    left: 0px;

}

.techStoreDiv {
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    flex: 1 1 200px;
    border: 1px solid black;
    display: flex;
    font-size: 2.5rem;
    text-decoration: none;
}
.numberOfProductsCount {
    align-items: flex-end;
    width: 40px;
    font-size: 40px;
    color: white;
    margin-top: 8px;
    margin-left: 15px;
}

.secondHeaderDiv {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.cartDiv {
    display: flex;
    box-sizing: border-box;
    border:2px solid #3558b9;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(231, 227, 227);
    }

.cartImage {
    display: flex;
    height: 40px;
    width: 40px;
    margin-top: 12px;
    margin-right: 20px;
}

img {
    width: auto;
    height: 200px;
}
.titleContainer {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.delBtnDiv {
    background-color: rgba(216, 90, 40, 0.884);
    width: 100px;
    height: 30px;
    border-radius: 7px;
    color: #fff;
}
/* .paymentDiv {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
} */

h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#purchaseBtn {
    background-color: rgba(53, 64, 216, 0.884);
    width: 200px;
    height: 30px;
    border-radius: 7px;
    color: #fff;

}
/* .trashPicImage{
    width: 1.5rem;
    height: auto;
    color:rgb(14, 11, 11);
    margin-right: 30px;
    margin-left:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}
.removetext {
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: rgb(12, 11, 11);
    margin-top: 10px;
    padding-top: 2px;
} */