body {
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    position: fixed;
    margin: 0%;
    right: 0px;
    top: 0px;
    left:0px;
}

.techStoreDiv {
   margin-top: 5px;
   margin-left: 10px;
   color: white;
   flex:1 1 200px;
   border: 1px solid black;
   display: flex;
   font-size: 2.5rem;
   text-decoration: none;
   
}



.numberOfProductsCount {
    align-items:flex-end;
    font-size: 40px;
    color: white;
    margin: 6px;  

}

.cartIcon {
    flex: 1;
    width: 40px;
    margin: 10px;
    margin-bottom: 20px;
    padding-inline-start: 2em;
    padding-top: 5px;
    margin-right: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
}
#cart-btn {
    background: none;
    border: none;
    cursor: pointer;
}
#cart-btn :hover{
    background: gray;
    color: honeydew;
}

.cartImage {
    height: 40px;
    width: 40px;
    margin-top: 12px;
    margin-right: 20px;
    background-color:white ;
    color: black;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.carddiv {
    flex:auto;
    text-align: center;
    padding-bottom: 80px;
}
 .carddiv:nth-child(2){
    background-color: hsla(0, 0%, 94%, 0.702);
}
.carddiv:nth-child(4){
    background-color: hsla(0, 0%, 94%, 0.702);
}
 
.imgdiv {
    margin-top: 20px;
    width: auto;
    height: 410px;
    text-align: center;
}

img {
    width: auto;
    height: 400px;
}

.titlediv {
   margin-top: 60px;
   font-size: 1.5rem;
} 
.btndiv {
    display: inline-flex;
    margin-top: 30px;
    box-sizing: border-box;
    width: 25 rem;
    text-align: center;
    background-color: rgb(73, 135, 216);
    border-radius: 10px;
}
.cartImageInMain{
    width: 1.5rem;
    height: auto;
    color:#fff;
    margin-right: 15px;
    margin-left:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text {
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 10px;
    padding-top: 2px;
    margin-right:10px;
}



#purchaseBtn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    

}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}










