
.header {
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.Title {
   color: white;
   flex:8;
   margin-left: 5px;
   font-family: 'Roboto', sans-serif;
}

.cartIcon {
    flex: 1;
    padding-inline-start: 2em;
    padding-top: 3px;
    margin-right: 10px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

h3 {
    display: flex;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.price {
    font-weight: bold;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.kundvagn {
    display: flex;
    background: #4f9de6;
    border: 10px #4f9de6 solid;
    color: white;
    border-radius: 10px;
    width: 14em;
}

.cart2 {
    flex: 1;
}

.läggiKV {
    flex: 3;
    font-family: 'Roboto', sans-serif;
}


body, html {
    text-align: center;
}


.firstname {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.articles {
    display: flex;
    flex-direction: center;
    height: 60%;
    justify-content: center;
    

}

.front {
    background-color: #f2f2f2;
    margin: 20px;
    border-radius: 8px;
    outline-style: groove;
    outline-color: blue;
}



.img1 {
    width: 150px;
    margin: 20px;

}
.img2 {
    width: 230px;
    margin: 20px;

}
.img3 {
    width: 130px;
    margin: 20px;

}
.img4 {
    width: 150px;
    margin: 20px;

}

.button {
    background-color: #A25127;
    width: 100px;
    display: flex;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    
    
}

.smallcart {
    background-color: cornflowerblue;
    height: 40px;
    width: 200px;
   margin-bottom: 100px;
   margin-top: 40px;
   font-family: 'Roboto', sans-serif;
   border-radius: 10px;
  


}

.total {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;

}


.body {
    font-family: 'Roboto', sans-serif;

}






/* phone */

@media (max-width: 600px) {
    
.articles {
    display: flex;
    flex-direction: column;

}

.button {
    margin-bottom: 20px;

}

}

/* tablets */

@media (min-width: 768px) {
    
}



#buttonForPurchase {
    
    
}
